<html lang="en">
  <head>
    <!-- Character encoding for the webpage -->
    <meta charset="utf-8" />
    <!-- Ensures the page scales correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Page title shown in the browser tab -->
    <title>{{title}}</title>
    
        <!-- Import the Fomantic UI stylesheet for layout and UI components -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">
   
    <!-- Import the custom stylesheet for this application -->
    <link rel="stylesheet" href="/style.css">   
  </head>
  
  <body>
    <!-- Main container where Handlebars renders page content -->
    <section class="ui container">
      {{{body}}}
    </section>
    
    <!-- import the jQuery library used by fomantic UI -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    
    <!-- import the SemanticUI javascript file -->
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>
    
    <!-- Import the custom JavaScript file for this application -->
    <script src="/script.js"></script>
    
  </body>
</html>
